<%- include('./partials/header') %>
<div id="discover-body">
    <div id="discover-info">
        <div id="discover-info-card">
            <h1><%= objectBody.title %></h1>
            <p><%= objectBody.artistDisplayName %>, <%= objectBody.objectEndDate %></p>
            <p><%= objectBody.culture %></p>
        </div>
        <div id="discover-buttons">
                <form action="/discover" method="GET">
                    <button class="btn rounded-0" id="next-art-btn">Next</button>
                </form>
                <% if (user) {%>
                <form action="/critiques/new/<%= objectBody.objectID %>" method="GET">
                    <button class="btn rounded-0" id="critique-art-btn">Critique This</button>
                </form>
                <% } %>
            </div>
    </div>
    <div id="discover-art">
        <img src="<%= objectBody.primaryImageSmall %>" alt="artwork" id="discover-art-image">
    </div>
</div>
<%- include('./partials/footer') %>