<%- include('../partials/header') %>
<div class="new-critique-container">
    <div id="critique-form-container">
        <div id="critique-info-card">
                <h3><%= objectBody.title %></h3>
                <p><%= objectBody.artistDisplayName %>, <%= objectBody.objectEndDate %></p>
        </div>
        <div id="critique-form-card">
            <form action="/critiques" method="POST">
                <div class="form-group">
                    <div class="">
                        <input type="text" name="title" class="form-control" id="critiqueTitle" placeholder="Title">
                    </div>
                    <textarea class="form-control post" name="critiqueBody" id="critiqueBody" placeholder="Critique body" rows="5"></textarea>
                </div>
                <label for="critiqueRating">Rating</label>
                <select class="form-control" name="rating" id="critiqueRating">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <input id="artworkState" name="artId" type="hidden" value="<%= objectBody.objectID %>">
                <button type="submit" class="btn rounded-0" id="critique-submit-btn">Submit</button>
            </form>
        </div>
    </div>
    <div class="critique-art-container">
        <img src="<%= objectBody.primaryImageSmall %>" alt="">
    </div>
</div>
<%- include('../partials/footer') %>