<%- include('../partials/header') %>
<section class="critiqueShowSection">
    <div class="critiqueContainer">
            <div class="critiqueArtContainer">
                <img src="<%= critique.artworkImage %>" alt="">
                <p><%= critique.artworkTitle %></p>
                <p><%= critique.artistName %>, <%= critique.artworkPublishDate %></p>
                <span class="">
                        <% for (let i = 0; i < critique.critiqueRating; i++) {%>
                        <i class="fas fa-star"></i>
                        <%}%>
                </span>
            </div>
            <div class="critiqueContentContainer">
                <h1><%= critique.critiqueTitle %></h1>
                <p>By: <%= critique.critic %></p>
                <p class="date"><%= critique.publishDate %></p>
                <span id="critique-options-span">
                    <% if (user._id == critique.criticId) {%>
                        <div class="btn-group">
                            <p>Options:  </p>
                            <button class="btn btn-secondary btn-sm dropdown-toggle critique-options-btn rounded-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                                        <form action="/critiques/edit/<%= critique._id %>" method="GET" id="update-critique">
                                            <button type="submit" form="update-critique" class="btn btn-outline-primary link">Update</button>
                                        </form>
                                        <form action="/critiques/<%= critique._id %>?_method=DELETE" method="POST" id="delete-critique">
                                            <button type="submit" form="delete-critique" class="btn btn-outline-danger link">Delete</button>
                                        </form>
                            </div>
                          </div>
                          <% } %>
                </span>
                <hr>
                <p><%= critique.critiqueBody %></p>
            </div>
            <section id="comments-section">
                    <div class="newCommentField">
                            <form action="/critiques/<%= critique._id %>/comments" method="POST" id="comment-field">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Join the conversation!</label>
                                    <textarea name="commentBody" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                </div>
                                <button type="submit" form="comment-field" class="btn rounded-0" id="comment-submit-btn">Submit</button>
                            </form>
                        </div>
                        <div class="commentsContainer">
                            <% comments.forEach(function(comment) { %>
                                <div class="comment">
                                    <div class="comment-header">
                                        <p class="commenter-name"><%= comment.commenterName %></p>
                                        <p class="comment-date">
                                            <%= comment.commentDate %>
                                        </p>
                                        <% if (user._id == comment.commenterId ) { %>
                                            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                            <% } %>
                                    </div>
                                    <div class="comment-body">
                                        <p><%= comment.commentBody %></p>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
            </section>
</section>
<%- include('../partials/footer') %>